@media screen and (min-width: 1921px) {
	header#header {
		min-height: 120px;
	}
	#header>div {
		padding: 12px 13px;
		max-width: 1510px;
		font-size: 1.14em;
		line-height: 120%;
	}
	#logo {
		margin: 6px 15px 0px 0px;
		width: 295px;
	}
	#headr_cont  {
		margin: 41px -11px 12px 30px;
		padding-left: 30px;
		width: 166px;   
		font-size: 1.20em;
		line-height: 120%;
		letter-spacing: 0.03em;
		background-position: left 4px;
		background-size: 17px 17px;
	}
	header nav {
		margin: 41px 190px 10px 350px;
		
	}
	header nav ul li ul {
		width: 580px;
	}
	header nav ul li ul:before {
		top: -9px;
	}
	
	#foo_in {
		padding: 20px 10px;
		max-width: 1510px;
		font-size: 1.02em;
		line-height: 120%;
	}
	#foo_logo {
		width: 300px;
	}
	
	.main_section>div {
		padding: 70px 25px 25px;
		width: 1480px;
	}
	.main_section h2 {
		font-size: 2.4em;
		line-height: 140%;
	}
	form {
		padding-top: 13px;
		width: 1000px;
		margin: 0 auto 35px;
	}
	input, textarea, select {
		margin-bottom: 25px;
		width: 900px;
		height: 48px;
		line-height: 48px;
	}
	form textarea {
		height: 108px;
		min-width: 900px;
		max-width: 900px;
		min-height: 108px;
		max-height: 150px;
		line-height: 140%;
		margin-bottom: 40px;
	}
	form input[type="submit"] {
		width: 216px;
		height: 57px;
	}
	form input[type="submit"]:active {
		height: 55px;
		width: 214px;
	}
	
	.bread_crumbs {
		margin-top: 120px;
		max-width: 1510px;
	}
	.content .text {
		max-width: 1510px;
	}
	.history.content .text {
		padding-right: 630px;
	}
	.about_production.content .text {
		padding-right: 400px;
		max-width: 1110px;
	}
	.about.content .text {
		max-width: 900px;
		padding-right: 620px;
	}
	.left_indent.content {
	margin: 0 auto;
	max-width: 1540px;
    }
}

@media screen and (min-width: 1800px) {
	#slider .sudo-box div {
		left: 50% !important;
		margin-left: -900px !important;
	}
}

@media screen and (max-width: 1800px) {
	#slider  {
		height: 800px
	}
	#slider .slider img {
		width: 650px;
	}
	#slider .slider h3 {
		top: 25%;
		margin-left: -35%;
		font-size: 2.5em;
		line-height: 120%;
		width: 500px;
	}
	#slider .slider p {
		top: 25%;
		margin-left: -35%;
		width: 500px;
		letter-spacing: 2px;
	}
	#slider .slider a {
		top: 25%;
		margin-left: -35%;
	}
	#slider .controls {
		height: 800px;
	}
	.four_text {
		height: 480px;
	}
	.four_text .text {
		width: 18.24%;
		padding: 60px 3.38% 20px;
		height: 400px;
	}
}

@media screen and (max-width: 1300px) {
	#header>div {
		max-width: 980px;
		font-size: 0.75em;
		line-height: 120%;
	}
	#logo {
		width: 210px;
	}
	#headr_cont  {
		margin-top: 26px;
		margin-left: 15px;
		padding-left: 15px;
		width: 116px;   
		background-position: left 2px;
		background-size: 11px 11px;
	}
	header nav {
		margin: 28px 140px 10px 220px;
		
	}
	
	header nav ul li ul {
		width: 400px;
	}
	header nav ul li ul:before {
		left: 12%;
	}
	#foo_in {
		padding: 20px 10px;
		max-width: 980px;
		font-size: 0.70em;
		line-height: 140%;
	}
	#foo_logo {
		width: 220px;
	}
	
	#foo_in #foo_menu {
		width: 70%;
	}
	#foo_in #foo_menu section + section {
		width: 24%;
	}
	#foo_in #foo_menu section + section + section {
		width: 46%;
	}
	
	#about {
		background-size: cover;
		min-height: 550px;
	}
	
	#slider  {
		height: 670px;
		margin-top: 30px;
	}
	#slider .slider img {
		width: 530px;
	}
	#slider .slider h3 {
		top: 25%;
		margin-left: -30.8%;
		font-size: 2em;
		line-height: 120%;
		width: 450px;
		margin-bottom: 13px;
	}
	#slider .slider p {
		top: 25%;
		margin-left: -30.8%;
		width: 450px;
		letter-spacing: 1px;
		font-size: 0.85em;
		padding-bottom: 32px;
	}
	#slider .slider a {
		margin-left: -30.7%;
	}
	#slider .controls {
		height: 670px;
	}
	.content .text, .bread_crumbs {
		max-width: 980px;
	}
	.about.content .text {
		padding-right: 10px;
		max-width: 980px;
	}
	
	.about.content {
		background: none;
		
	}
	.history.content .text {
		padding-right: 277px;
		padding-top: 90px;
		padding-bottom: 70px;
		max-width: 823px;
	}
	
	.advantage.content .text {
		max-width: 980px;
		padding-bottom: 55px;
		padding-top: 65px;
	}
	
	.foto_left.content .text {
		padding-left: 535px;
		max-width: 465px;
	}
	.foto_right.content .text {
		padding-right: 535px;
		max-width: 465px;
	}
	.foto_left.content h2, .foto_right.content h2 {
		margin-bottom: 35px;
	}
	.foto_left.content p, .foto_right.content p {
		margin-bottom: 35px;
	}
	.content img.sert {
		width: 30%;
		margin-right: 25px;
		margin-bottom: 25px;
	}
	.foto_right.content.text_both .text {
		padding-top: 100px;
	}
	.foto_right.content.text_both div.text + div.text>* {
		margin-left: 35px;
		max-width: 463px;
		width: 80%;
	}
	
	.four_text {
		height: auto;
	}
	.four_text .text {
		width: 39%;
		padding: 60px 5.5% 20px;
		height: 300px;
	}
	.four_text .text + .text + .text {
		float: right;
	}
	.cont {
		font-size: 0.93em;
	}
	
	.left_indent.content {
		max-width: 1000px;
	}
	.left_indent.content aside.left {
		margin-left: 10px;
	}
	.product_info>div {
		width: 30%;
	}
	.product_info>div.info  {
		padding-top: 150px;
		width: 40%;
	}
	.product_info>div img {
		height: 600px;
	}
	
	
	
	.sections_products {
		min-height: 730px;
	}
	.sections_products h1 {
		font-size: 1.7em;
	}
	.sections_products .sections {
		max-width: 980px;
	}
	.sections_products .sections .item {
		height: 395px;
	}
	
	.sections_products .sections .item img.img_bottle {
		bottom: 35px;
	}
	.sections_products .sections .item img.img_сaption {
		bottom: 115px;
	}
	.sections_products .sections .item:hover img.img_bottle {
		bottom: 75px;
	}
	
	
	.page_404 #wrapper {
		background-size: 513px auto;
		background-position: 55% 70%;
	}
	.page_404 #wrapper .content {
		height: 100%;
		min-height: 490px;
	}
	.page_404 #wrapper .content .text {
		/*top: 2.5%;*/
	}
	
	#form.content input, #form.content textarea, #form.content select {
		width: 90%;
	}
	#form.content textarea {
		max-width: 90%;
		min-width: 90%;
	}
	
}

@media screen and (max-width: 990px) {
	#header>div {
		font-size: 1.1em;
		line-height: 120%;
	}
	#headr_cont  {
		float: left;
		margin-left: 15%;
		width: auto;
	}
	header nav {
		width: 40px;
		height: 24px;
		border-bottom: 8px solid #fff;
		border-top: 8px solid #fff;
		position: relative;
		float: right;
		margin: 15px 20px 0 20px;
		border-radius: 2px;
	}
	header nav:after {
		width: 40px;
		height: 8px;
		position: absolute;
		top: 8px;
		left: 0;
		background-color:  #fff;
		content: "";
	}
	header nav:hover, header nav:active {
		border-color: #89b713
	}
	header nav:hover:after, header nav:active:after {
		background-color:  #89b713;
	}
	
	header nav ul {
		margin-top: 49px;
		padding: 15px 0;
		width: 320px;
		background-color: #fff;
		position: absolute;
		right: -11px;
		border-bottom: 5px solid #89b713;
		box-shadow: 0px 0px 5px RGBA(34, 34, 34, 0.2);
		max-height: 350px;
		overflow: auto;
	}
	header nav>ul {
		display: none;
	}
	header nav:before {
		width: 55px;
		height: 20px;
		position: absolute;
		top: 30px;
		right: 0px;
		background: transparent;
		content: "";
		z-index: 1;
		display: block;
	}
	header nav ul li {
		margin: 0;
		display: block;
		text-align: left;
	}
	header nav ul li a {
		color: #89b713;
		display: block;
		padding: 10px 10px 10px 30px; 
	}
	header nav ul li ul {
		width: 100%;
		padding: 15px 0;
		margin-bottom: 10px;
		position: relative;
		left: 0px;
		top: auto;
		margin-top: 10px;
		max-height: none;
		overflow: visible;
		display: none;
	}
	header nav ul li ul.menu_product {
		width: 100%;
		left: 0px;
	}
	header nav ul li:hover ul {
		display: none;
	}
	header nav ul li ul:before {
		left: 25%
	}
	header nav ul li ul:after {
		display: none;
	}
	header nav ul li ul li {
		width: auto;
		margin: 0;
	}
	header nav ul li ul li a, header nav ul li.active ul li a {
		color: #fff;
	}
	#foo_in h3 {
		margin-bottom: 15px;
	}
	#foo_in #foo_menu {
		width: 65%;
	}
	#foo_in #foo_menu section, #foo_in #foo_menu section + section, #foo_in #foo_menu section + section + section {
		width: 45%;
	}
	#foo_in #foo_menu section + section + section {
		width: 90%;
		display: none;
	}
	#foo_in #foo_menu ul li {
		margin-bottom: 7px;
	}
	#pre_foo {
		/*height: 450px;*/
	}
	
	footer {
		/*height: 450px;*/
	}
	.main_section > div, #partners.main_section > div:first-child {
		width: auto;
	}
	
	#main_form p {
		width: 80%;
		margin: 0 auto 22px;
	}
	input, textarea, select {
		width: 80%;
	}
	form textarea {
		min-width: 80%;
		max-width: 80%;
	}
	/*#about {
		background-position: -300px center;
	}*/
	#about>div {
		width: 80%;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 130px;
	}
	#about h2:before, #about h2:after {
		display: none;
	}
	#about p {
		padding: 0 130px 11px;
	}
	
	#slider  {
		height: 570px;
	}
	#slider .slider img {
		width: 470px;
	}
	#slider .slider h3 {
		top: 25%;
		margin-left: -40%;
		font-size: 2em;
		line-height: 120%;
		width: 450px;
		margin-bottom: 13px;
	}
	#slider .slider p {
		top: 25%;
		margin-left: -40%;
		width: 450px;
		letter-spacing: 1px;
		font-size: 0.85em;
		padding-bottom: 32px;
	}
	#slider .slider a {
		margin-left: -40%;
	}
	#slider .controls {
		height: 570px;
	}
	
	#slider .prevBtn {
		margin-left: -50%;
	}
	#slider .nextBtn {
		margin-right: -50%;
	}
	.about.content .text {
		width: auto;
	}
	.history.content .text {
		padding-right: 130px;
	}
	
	.foto_left.content .text, .foto_right.content .text {
		background-color: #fff;
		height: 100%;
		max-width: none;
	}
	.foto_left.content>img {
		right: 15%;
	}
	.foto_right.content>img {
		left: 15%;
		right: auto;
	}
	.foto_left.content .text {
		padding-left: 35px;
		width: 44%;
		margin-left: 50%;
	}
	.foto_right.content .text {
		width: 44%;
		margin-right: 50%;
		padding-right: 35px;
	}
	
	.cont {
		width: 39%;
		margin-right: 5%;
	}
	
	.left_indent.content aside.left {
		display: none;
	}
	.left_indent.content .text, .content .catalog {
		margin-left: 0;
	}
	.product_info>div {
		width: 25%;
	}
	.product_info>div.info  {
		padding-top: 50px;
		width: 42%;
	}
	.product_info>div img {
		height: 500px;
	}
	
	.page_404 #wrapper {
		background-size: 50% auto;
		background-position: 70% 70%;
		/*min-height: 950px;*/
	}
	.page_404 #wrapper .content {
		height: 100%;
		min-height: 400px;
	}
	.page_404 #wrapper .content .text {
		top: 13%;
	}
	
	.sections_products {
		min-height: 650px;
	}
	.sections_products .sections .item {
		height: 335px;
	}
	
	.sections_products .sections .item img.img_bottle {
		bottom: 35px;
	}
	.sections_products .sections .item img.img_сaption {
		bottom: 95px;
	}
	.sections_products .sections .item:hover img.img_bottle {
		bottom: 65px;
	}
	.photo_slider {
		text-align: center;
	}
	.photo_slider ul {
		display: inline-block;
	}
}

@media screen and (max-width: 750px) {
	h1, h2, h3 {
		text-align: center;
	}
	
	#foo_in #foo_menu {
		display: none;
	}
	#pre_foo {
		/*height: 200px;*/
	}
	.content .text p {
		text-align: justify;
	}
	.content .text p a {
		display: inline-flex;
	}
	.content .text a.button {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	.content .text .product_info a {
		display: inline-block;
	}
	footer {
		/*height: 200px;*/
	}
	#foo_in #foo_cont {
		float: right;
		margin-right: 10px;
		padding-top: 15px;
		margin-bottom: 15px;
		width: 42%;
		text-align: right;
	}
	#foo_in #foo_cont strong {
		margin-bottom: 20px;
	}
	#foo_logo {
		float: left;
		width: 200px;
		margin-bottom: 20px
	}
	
	#dw {
		margin-right: 10px;
		clear: left;
		float: none;
		margin-bottom: 20px;
		width: auto;
		text-align: left;
		margin-right: 5px;
	}
	p#copy {
		clear: left;
		margin-bottom: 25px;
		margin-right: 10px;
	}
	#about p {
		padding: 0 80px 11px;
	}
	#slider  {
		height: 470px;
	}
	#slider .slider img {
		width: 380px;
		top: 5%;
	}
	#slider .slider h3 {
		top: 25%;
		margin-left: -40%;
		font-size: 1.5em;
		line-height: 120%;
		width: 350px;
		margin-bottom: 13px;
	}
	#slider .slider p {
		top: 25%;
		margin-left: -40%;
		width: 350px;
		letter-spacing: 0px;
		font-size: 0.75em;
		padding-bottom: 32px;
	}
	#slider .slider a {
		margin-left: -40%;
	}
	#slider .controls {
		height: 470px;
	}
	
	#slider .prevBtn, #slider .nextBtn {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	
	#slider .prevBtn {
		margin-left: -50%;
	}
	#slider .nextBtn {
		margin-right: -50%;
	}
	#about {
		min-height: 1px;
		padding-bottom: 50px;
	}
	#about > div {
		margin-top: 100px;
	}
	.content .text {
		padding-bottom: 15px;
	}
	.about.content {
		background: none;
		
	}
	.about.content .text {
		padding-right: 10px;
		width: auto;
		padding-bottom: 15px;
	}
	.history.content .text {
		padding-right: 10px;
		padding-top: 40px;
		padding-bottom: 30px;
	}
	
	.advantage.content .text {
		padding-bottom: 25px;
		padding-top: 35px;
	}
	.advantage.content .text h2 {
		margin-bottom: 20px;
	}
	.advantage.content .text p.adv {
		display: block;
		width: auto;
		margin: 0 2.5% 20px;
		padding-top: 0px;
		padding-left: 60px;
		background: url(../images/icon1.png) left center no-repeat;       
		text-align: left;
	}
	.advantage.content .text p.adv + p.adv {
		width: auto;
		background-image: url(../images/icon2.png);
	}
	.advantage.content .text p.adv + p.adv + p.adv {
		width: auto;
		background-image: url(../images/icon3.png);
	}
	.advantage.content .text p.adv + p.adv + p.adv + p {
		text-align: center;
	}
	.about_production.content {
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.foto_left.content, .foto_right.content {
		height: auto;
	}
	.foto_left.content>img, .foto_right.content>img {
		right: auto;
		left: 0;
		position: static;
		width: 100%;
	}
	.foto_left.content .text, .foto_right.content .text {
		margin: 0;
		padding: 30px 10px 15px;
		width: auto;
	}
	.foto_left.content h2, .foto_right.content h2 {
		margin-bottom: 20px;
	}
	.foto_left.content p, .foto_right.content p {
		margin-bottom: 20px;
	}
	.content img.sert {
		width: 30%;
		margin-right: 25px;
		margin-bottom: 25px;
	}
	.foto_right.content.text_both .text {
		padding-top: 35px;
		padding-bottom: 15px;
	}
	.foto_right.content.text_both div.text + div.text {
		height: auto;
		position:  relative;
		left: 0%;
		width: 100%;
	}
	.foto_right.content.text_both div.text + div.text>* {
		margin-left: 0;
		width: 90%;
	}
	.content h3 {
		font-size: 1.3em;
	}
	.four_text .text p {
		font-size: 0.85em;
		margin-bottom: 20px;
	}
	.four_text .text {
		padding: 40px 5.5% 1px;
	}
	.catalog .item {
		height: 415px;
	}
	.catalog .item>a {
		height: 250px;
	}
	.catalog .item a.button {
		padding-left: 10px;
		padding-right: 10px;
		width: 136px;
	}
	.catalog .item img {
		height: 250px
	}
	.product_info>div {
		width: 30%;
	}
	.product_info>div.info  {
		padding-top: 50px;
		width: 35%;
	}
	.product_info>div.info p {
		background-position: 120% 10px;
		padding-right: 55px;
		margin-bottom: 20px;
		text-align: left;
	}

	.page_404 #wrapper {
		background-size: 80% auto;
		background-position: 50% 130%;
		/*min-height: 1000px;*/
	}
	.page_404 #wrapper .content .text {
		top: 2.5%;
		text-align: center;
		min-height: 550px;
	}
	.sections_products {
		min-height: 590px;
	}
	.sections_products .sections .item {
		height: 255px;
	}
	
	.sections_products .sections .item img.img_bottle {
		bottom: 35px;
	}
	.sections_products .sections .item img.img_сaption {
		bottom: 95px;
	}
	.sections_products .sections .item:hover img.img_bottle {
		bottom: 65px;
	}
	
	
	.sections_products .sections .item {
		height: 285px;
	}
	
	
}

@media screen and (max-width: 599px) {
	
	h1 {
		font-size: 1.7em;
		text-align: center;
	}
	
	h2 {
		font-size: 1.3em;
		text-align: center;
	}
	h3 {
		text-align: center;
	}
	
	header#header {
		min-height: 80px;
	}
	#header>div {
		font-size: 0.9em;
		line-height: 120%;
	}
	#logo {
		width: 150px;
		margin-right: 5px;
	}
	#headr_cont  {
		margin-left: 7%;
		margin-top: 18px
	}
	header nav {
		width: 25px;
		height: 15px;
		border-bottom: 5px solid #fff;
		border-top: 5px solid #fff;
		margin: 13px 10px 0 10px;
	}
	header nav:after {
		width: 25px;
		height: 5px;
		top: 5px;
	}
	header nav>ul {
		margin-top: 39px;
	}
	header nav:before {
		top: 20px;
	}
	#pre_foo {
		/*height: 220px;*/
	}
	
	footer {
		/*height: 220px;*/
	}
	#foo_in #foo_cont {
		float: none;
		width: auto;
		text-align: left;
	}
	#foo_in #foo_cont strong {
		text-align: right;
		display: block;
	}
	#dw {
		text-align: right;
		clear: none;
	}
	.main_section h2 {
		font-size: 1.7em;
	}
	.main_section p {
		font-size: 0.85em;
	}
	#about p {
		padding: 0 50px 11px;
	}
	#slider  {
		margin-top: 0;
	}
	
	#slider .slider img {
		width: 300px;
		top: 20%
	}
	
	.bread_crumbs { 
		margin-top: 80px;
	}
	
	.four_text .text {
		width: auto;
		padding: 35px 10px 15px;
		height: auto;
		float: none;
	}
	
	.catalog .item {
		width: 48%;
	}
	.product_info>div {
		width: 48%;
	}
	.product_info>div img {
		height: 300px
	}
	.product_info>div.info  {
		padding-top: 30px;
		width: 100%;
		text-align: center;
	}
	.product_info>div.info p {
		padding: 0;
		background: none;
		display: inline-block;
		vertical-align: top;
		margin-right: 0px;
		width: 49%;
	}
	.product_info>div {
		margin-bottom: 10px;
	}
	
	.product_info {
		text-align: center;
		margin-bottom: 20px;
		margin-right: 0;
	}
	
	.page_404 #wrapper {
		background-position: 50% 95%;
		/*min-height: 930px;*/
	}
	.page_404 #wrapper .content .text {
		top: 2.5%;
		min-height: 490px;
	}
	
	
	.sections_products {
		min-height: 590px;
	}
	.sections_products .sections .item {
		height: 245px;
	}
	
	.sections_products .sections .item img.img_bottle {
		bottom: 35px;
	}
	.sections_products .sections .item img.img_сaption {
		display: none;
	}
	.sections_products .sections .item:hover img.img_bottle {
		bottom: 65px;
	}
	
}


@media screen and (max-width: 470px) {
	#pre_foo {
		/*height: 250px;*/
	}
	
	footer {
		/*height: 250px;*/
	}
	#dw {
		clear: left;
	}
	#about p {
		padding: 0 20px 11px;
	}
	#slider  {
		height: 400px;
		margin-top: 0;
	}
	
	#slider .slider h3, #slider .slider p {
		text-align: center;
	}
	#slider .slider a {
		margin-left: -98px;
	}
	#slider .slider img {
		display: none;
	}
	
	#products .karusel_1 {
		height: 430px;
		padding: 0;
	}
	#products .karusel_1 .slide {
		padding: 0 10px;
		width: 250px;
		background-size: 95% auto;
		background-position: center 72px;
		height: 430px;
	}
	#products .karusel_1 .slide div {
		margin: 155px 20px 0;
		padding: 110px 10px 0;
		width: 190px;
		height: 125px;
		background: #fff;
		box-shadow: 0px 0 5px rgba(0, 0, 0, 0.65);
		position: relative;
	}
	
	#products .karusel_1 .slide div>span {
		position: absolute;
		bottom: 130px;
		width: 100%;
		left:0;
	}
	#products .karusel_1 .slide div span img {
		height: 261px;
	}
	#products .karusel_1 .slide:hover div img {
		height: 261px;
	}
	.cont {
		width: auto;
		margin-right: 0;
	}
	.content .cont p {
		margin-bottom: 10px
	}
	
	.catalog .item {
		width: 100%;
	}
	
	.page_404 #wrapper {
		background-position: 50% 80%;
		/*min-height: 880px;*/
	}
	.page_404 #wrapper .content .text {
		
		min-height: 400px;
	}
	
	.sections_products {
		min-height: 590px;
	}
	.sections_products .sections .item {
		height: 215px;
	}
	
	.sections_products .sections .item img.img_bottle {
		bottom: 35px;
	}
	.sections_products .sections .item:hover img.img_bottle {
		bottom: 55px;
	}
	.sections_products h1 {
		font-size: 1.4em;
	}
}


@media screen and (max-width: 400px) {
	header#header {
		min-height: 60px;
		min-width: 300px
	}
	#header>div {
		font-size: 0.9em;
		line-height: 120%;
	}
	#logo {
		width: 120px;
		margin-right: 5px;
	}
	#headr_cont  {
		margin-left: 10px;
		margin-top: 13px;
		font-size: 1.05em;
		line-height: 120%;
	}
	header nav {
		margin: 8px 0px 0 5px;
	}
	#foo_logo {
		width: 140px;
	}
	#foo_in #foo_cont {
		margin-bottom: 0px;
		margin-right: 10px;
		padding-top: 10px;
	}
	#dw {
		text-align: right;
		clear: left;
	}
	.main_section p {
		font-size: 0.85em;
	}
	#main_form p {
		width: 90%;
		margin-bottom: 12px;
	}
	input, textarea, select {
		width: 90%;
	}
	form textarea {
		min-width: 90%;
		max-width: 90%;
	}
	
	#about>div {
		margin-top: 100px;
	}
	
	#slider  {
		height: 400px;
	}
	#slider .slider h3 {
		top: 25%;
		margin-left: -35%;
		font-size: 1.2em;
		line-height: 120%;
		width: 250px;
		margin-bottom: 13px;
	}
	#slider .slider p {
		top: 25%;
		margin-left: -35%;
		width: 250px;
		letter-spacing: 0px;
		font-size: 0.75em;
		padding-bottom: 32px;
	}
	
	#slider .controls {
		height: 400px;
	}
	
	#slider .prevBtn, #slider .nextBtn {
		width: 40px;
		height: 40px;
		margin-top: -20px;
	}
	
	#slider .prevBtn {
		margin-left: -50%;
	}
	#slider .nextBtn {
		margin-right: -50%;
	}
	.bread_crumbs { 
		margin-top: 60px;
	}
	.page_404 #wrapper {
		/*min-height: 800px;*/
	}
	.page_404 #wrapper .content .text {
		
		min-height: 300px;
	}
	
	.sections_products {
		height: 470px;
	}
	
}


















